{% extends "viajesApp/base.html" %}
{% block contenedor %}
<div id="contenedor">
 <div id="contenedor1">
 <header>
 <a href="iracontenido">Ir a contenido principal</a>
 <div class="compra">
 [Ir a compra]
 </div>
 Venta de libros Online
 </header>
 </div>
 <div id="contenedor2">
 <nav>
 [aquí va el menú]
 </nav>
 </div>
 <div id="contenedor3">
 <section>
 <a name=”contenido”></a>
 <div class="contenidoSection">
 {% block content %}{% endblock %}
 </div>
 </section>
 </div>
 <div id="contenedor4">
 <aside>
     <div class="contenidoAside">
 [caja de búsqueda
 <br />
 [listado de categorias]
 </div>
 </aside>
 </div>
 <div id="contenedor5">
 <footer>
 [contenido del pie de página]
 </footer>
 </div>
</div>
{% endblock %}