
{% extends 'viajesApp/base.html' %}

{% block content %}

                {% for viaje in viajes %}
                    <div class="viaje">
                        <div class="date">
                            {{ viaje.start_date }}
                        </div>
                        <h1><a href="{% url 'viajesApp.views.viaje_detail' pk=viaje.pk %}">{{ viaje.title }}</a></h1>
                        <a class="btn btn-default" href="{% url 'viaje_edit' pk=viaje.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-default" href="{% url 'viaje_remove' pk=viaje.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        <p>{{ viaje.detalles|linebreaks }}</p>
                    </div>
                {% endfor %}

  {% endblock content %}


